@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-family: "Caveat", sans-serif;
  font-family: "Arvo", serif;
}
html {
  scroll-behavior: smooth;
}

/* IMPORTS */
.contenedorMainIndex {
  width: 100vw;
  height: 100vh;
  padding: 0;
}
.contenedorMainIndex .contenedorMainIndexSub {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 a .imagenLogoKda1Index {
  width: 30%;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  z-index: 5;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 a .imagenFondoKda1Index {
  position: relative;
  z-index: 1;
  transition: 0.4s;
  border: 8px solid rgb(11, 11, 11);
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 a:hover .imagenLogoKda1Index {
  opacity: 1;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 a:hover .imagenFondoKda1Index {
  filter: blur(5px);
  transform: scale(1.1);
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 a .imagenLogoKda2Index {
  width: 25%;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  z-index: 5;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 a .imagenFondoKda2Index {
  position: relative;
  z-index: 1;
  transition: 0.4s;
  border: 5px solid rgb(11, 11, 11);
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 a:hover .imagenLogoKda2Index {
  opacity: 1;
}
.contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 a:hover .imagenFondoKda2Index {
  filter: blur(5px);
  transform: scale(1.1);
}

.bodyKda2018 {
  background-image: url(../img/kda-2018/fondo-main-kda-2018.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Caveat", sans-serif;
}

.bodyKdaAllOut {
  background-image: url(../img/kda-2020/fondo-main-kda-allout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Arvo", serif;
}

.menuHeaderKda2018 {
  background-color: rgb(16, 16, 16);
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader {
  background: none;
  border: 1px solid rgb(131, 0, 192);
  border-radius: 10px;
  padding: 5% 55%;
  color: rgb(131, 0, 192);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  white-space: nowrap;
  letter-spacing: 5px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader:hover {
  transform: scale(1.1);
  background: linear-gradient(20deg, rgb(131, 0, 192), rgb(201, 86, 255));
  border: 1px solid white;
  color: white;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader .tituloBotonEscuchaKdaHeader {
  border-top: 25%;
  height: 10px;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader .listaBotonEscuchaKdaHeader .listaSubBotonEscuchaKdaHeader a {
  text-decoration: none;
  color: rgb(131, 0, 192);
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader .listaBotonEscuchaKdaHeader .listaSubBotonEscuchaKdaHeader a:hover {
  color: white;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader .listaBotonEscuchaKdaHeader .listaSubBotonEscuchaKdaHeader a .logoBotonEscuchaKdaHeader {
  transition: 0.3s;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonEscuchaKdaHeader .listaBotonEscuchaKdaHeader .listaSubBotonEscuchaKdaHeader a .logoBotonEscuchaKdaHeader:hover {
  transform: scale(1.2);
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader {
  background: none;
  border: 1px solid rgb(131, 0, 192);
  border-radius: 10px;
  padding: 5% 55%;
  color: rgb(131, 0, 192);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  white-space: nowrap;
  letter-spacing: 7px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader:hover {
  transform: scale(1.1);
  background: linear-gradient(20deg, rgb(131, 0, 192), rgb(201, 86, 255));
  border: 1px solid white;
  color: white;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader .tituloBotonSigueKdaHeader {
  border-top: 25%;
  height: 10px;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader .listaBotonSigueKdaHeader .listaSubBotonSigueKdaHeader a {
  text-decoration: none;
  color: rgb(131, 0, 192);
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader .listaBotonSigueKdaHeader .listaSubBotonSigueKdaHeader a:hover {
  color: white;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader .listaBotonSigueKdaHeader .listaSubBotonSigueKdaHeader a .logoBotonSigueKdaHeader {
  transition: 0.3s;
}
.menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista .botonSigueKdaHeader .listaBotonSigueKdaHeader .listaSubBotonSigueKdaHeader a .logoBotonSigueKdaHeader:hover {
  transform: scale(1.2);
}

.menuHeaderKdaAllOut {
  background-color: rgb(119, 163, 245);
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonEscuchaKdaAllOutHeader {
  border: 1px solid black;
  color: black;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonEscuchaKdaAllOutHeader:hover {
  background: linear-gradient(20deg, rgb(48, 179, 255), rgb(86, 255, 252));
  border: 1px solid blue;
  color: blue;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonEscuchaKdaAllOutHeader .listaBotonEscuchaKdaAllOutHeader .listaSubBotonEscuchaKdaAllOutHeader a {
  color: black;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonEscuchaKdaAllOutHeader .listaBotonEscuchaKdaAllOutHeader .listaSubBotonEscuchaKdaAllOutHeader a:hover {
  color: blue;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonSigueKdaAllOutHeader {
  border: 1px solid black;
  color: black;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonSigueKdaAllOutHeader:hover {
  background: linear-gradient(20deg, rgb(48, 179, 255), rgb(86, 255, 252));
  border: 1px solid blue;
  color: blue;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonSigueKdaAllOutHeader .listaBotonSigueKdaAllOutHeader .listaSubBotonSigueKdaAllOutHeader a {
  color: black;
}
.menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista .botonSigueKdaAllOutHeader .listaBotonSigueKdaAllOutHeader .listaSubBotonSigueKdaAllOutHeader a:hover {
  color: blue;
}

.mainKda2018 {
  /* BARRA NAV */
  /* H2 */
  /* POPSTARS */
  /* ¿QUIÉNES SON? */
  /* HISTORIA */
  /* INTEGRANTES */
  /* ALBÚN */
  /* VIDEOS RELACIONADOS */
}
.mainKda2018 .navBarKda {
  background-color: rgb(11, 11, 11);
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 10;
  border-top: 1px solid white;
}
.mainKda2018 .navBarKda .navBarKdaSub .imagenLogoPrincipal {
  width: 20%;
  transition: 0.3s;
}
.mainKda2018 .navBarKda .navBarKdaSub .imagenLogoPrincipal:hover {
  transform: scale(1.1);
}
.mainKda2018 .navBarKda .navBarKdaSub .botonQueAbreNavBarKda {
  margin-right: 3%;
  border: 1px solid rgb(131, 0, 192);
  background-color: rgb(16, 16, 16);
  transition: 0.3s;
}
.mainKda2018 .navBarKda .navBarKdaSub .botonQueAbreNavBarKda:hover {
  transform: scale(0.9);
  border: 1px solid rgb(1, 242, 255);
  background-color: rgb(0, 0, 0);
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda {
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .logoMenuNavQueSeAbreKda .imagenLogoKda {
  width: 70%;
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .logoMenuNavQueSeAbreKda .botonQueCierraMenuNavKda {
  margin-right: 10%;
  border: 1px solid rgb(158, 4, 230);
  background-color: rgb(16, 16, 16);
  transition: 0.3s;
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .logoMenuNavQueSeAbreKda .botonQueCierraMenuNavKda:hover {
  border: 1px solid rgb(1, 242, 255);
  background-color: white;
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .listaNavQueSeAbreKda .listaNavQueSeAbreKdaSub hr {
  border-color: rgb(158, 4, 230);
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .listaNavQueSeAbreKda .listaNavQueSeAbreKdaSub .navBotonListaQueSeAbreKdaSub a {
  text-align: center;
  color: rgb(212, 212, 212);
  font-size: 1rem;
  transition: 0.4s;
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .listaNavQueSeAbreKda .listaNavQueSeAbreKdaSub .navBotonListaQueSeAbreKdaSub a:hover {
  transform: scale(1.2);
  color: rgb(110, 171, 207);
}
.mainKda2018 .navBarKda .navBarKdaSub .menuNavQueSeAbreKda .fraseBarNav {
  color: rgb(154, 255, 253);
  text-shadow: 3px 3px black;
  font-size: 1.5rem;
}
.mainKda2018 h2 {
  margin-top: 5%;
  margin-bottom: 0%;
  color: rgb(53, 235, 238);
  font-size: 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.722);
  transition: 0.3s;
}
.mainKda2018 h2:hover {
  color: white;
}
.mainKda2018 .videoMusicalKda {
  background-color: rgba(0, 0, 0, 0.794);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainKda2018 .videoMusicalKda .iframeVideoMusicaKda {
  width: 50%;
  height: 400px;
  margin: 5%;
  border: 1px solid rgb(89, 0, 255);
  border-radius: 5px;
  transition: 0.4s;
}
.mainKda2018 .videoMusicalKda .iframeVideoMusicaKda:hover {
  border: 1px solid white;
}
.mainKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 5%;
}
.mainKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  overflow: auto;
}
.mainKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion .letrasCancion {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 5%;
}
.mainKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  overflow: auto;
}
.mainKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion .descipcionDeIframe {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 5%;
}
.mainKda2018 .quienesSonKda {
  width: 100%;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteTextual {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.794);
  border-radius: 20px;
  margin: 0% 0% 4% 5%;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
  color: white;
  text-shadow: 3px 3px black;
  margin: 5%;
  font-size: 1.7rem;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto2 {
  text-align: end;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteImagen {
  background-color: rgba(0, 0, 0, 0.794);
  border-radius: 20px;
  margin-top: 4%;
  margin: 0% 0% 4% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteImagen .quienesSonKdaImagen {
  width: 90%;
  border: double rgb(5, 5, 5) 5px;
}
.mainKda2018 .quienesSonKda .quienesSonKdaParteImagen2 {
  margin-left: 5%;
}
.mainKda2018 .historiaKda {
  background-color: black;
}
.mainKda2018 .historiaKda .historiaKdaSub {
  gap: 7%;
}
.mainKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionTexto .historiaKdaSeccionTextoTitulo {
  color: white;
}
.mainKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionTexto .historiaKdaSeccionTextoContenido {
  color: white;
}
.mainKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
  width: 120%;
}
.mainKda2018 .integrantesKda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.794);
}
.mainKda2018 .integrantesKda .integrantesKdaBotones .integrantesKdaBotonesButton {
  background-color: black;
  border: 1px solid rgb(255, 47, 200);
  transition: 0.5s;
}
.mainKda2018 .integrantesKda .integrantesKdaBotones .integrantesKdaBotonesButton:hover {
  transform: scale(1.2);
  border: 1px solid rgb(0, 255, 242);
  background-color: rgb(255, 255, 255);
  color: black;
}
.mainKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub {
  background-color: rgba(0, 0, 0, 0);
}
.mainKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorTexto .integrantesKdaCollapseSubContenedorNombre {
  color: rgb(255, 47, 200);
  text-shadow: 2px 2px black;
  font-size: 3rem;
}
.mainKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorTexto .integrantesKdaCollapseSubContenedorDescripcion {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1.5rem;
}
.mainKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorImagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorImagen .integrantesKdaCollapseFoto {
  width: 70%;
  border: double 10px rgb(12, 0, 246);
}
.mainKda2018 .albunKda {
  background-color: black;
}
.mainKda2018 .videosKda {
  background-color: rgba(0, 0, 0, 0.794);
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainKda2018 .videosKda .videosKdaSub {
  border: 1px solid white;
  margin: 5%;
  transition: 0.4s;
}
.mainKda2018 .videosKda .videosKdaSub:hover {
  border: 1px solid rgb(0, 242, 255);
}
.mainKda2018 .videosKda .videosKdaSub .carruselBoton {
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
  height: 25%;
}
.mainKda2018 .videosKda .videosKdaSub .carruselBoton:hover {
  background-color: rgba(0, 0, 0, 0);
}

.mainKdaAllOut {
  /* BARRA NAV */
  /* INTEGRANTES */
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .imagenLogoPrincipalAllOut {
  width: 50%;
  transition: 0.3s;
  margin: 4% 0px 3% 4%;
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .imagenLogoPrincipalAllOut:hover {
  transform: scale(1.1);
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .botonQueAbreNavBarKdaAllOut {
  border: 1px solid rgb(1, 242, 255);
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .botonQueAbreNavBarKdaAllOut:hover {
  transform: scale(0.9);
  border: 1px solid rgb(255, 255, 255);
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .menuNavQueSeAbreKdaAllOut .logoMenuNavQueSeAbreKdaAllOut .botonQueCierraMenuNavKdaAllOut {
  border: 1px solid rgb(1, 242, 255);
  background-color: white;
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .menuNavQueSeAbreKdaAllOut .logoMenuNavQueSeAbreKdaAllOut .botonQueCierraMenuNavKdaAllOut:hover {
  border: 1px solid white;
  background-color: black;
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .menuNavQueSeAbreKdaAllOut .listaNavQueSeAbreKdaAllOut .listaNavQueSeAbreKdaSubAllOut hr {
  border-color: rgb(1, 242, 255);
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .menuNavQueSeAbreKdaAllOut .listaNavQueSeAbreKdaAllOut .listaNavQueSeAbreKdaSubAllOut .navBotonListaQueSeAbreKdaSubAllOut a:hover {
  transform: scale(1.2);
  color: rgb(155, 0, 251);
}
.mainKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .menuNavQueSeAbreKdaAllOut .fraseBarNavAllOut {
  color: rgb(154, 255, 253);
  text-shadow: 3px 3px black;
  font-size: 1rem;
  text-align: center;
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutBotones .integrantesKdaAllOutBotonesButton {
  margin-top: 3%;
  background-color: white;
  border: 1px solid rgb(47, 255, 248);
  color: black;
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutBotones .integrantesKdaAllOutBotonesButton:hover {
  border: 1px solid rgb(4, 0, 255);
  background-color: rgb(0, 0, 0);
  color: white;
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub {
  background-color: rgba(0, 0, 0, 0);
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorTexto .integrantesKdaAllOutCollapseSubContenedorNombre {
  color: rgb(47, 255, 248);
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorTexto .integrantesKdaAllOutCollapseVideoMusical {
  border: 5px double white;
  width: 80%;
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorImagen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.mainKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorImagen .integrantesKdaAllOutCollapseFoto {
  border: double 10px white;
}

.footerKda {
  background-color: rgb(0, 0, 0);
}
.footerKda .footerKdaSub .footerKdaTextRiot {
  color: white;
  text-shadow: 1px 1px red;
  font-size: 1.5rem;
}
.footerKda .footerKdaSub .textoCopyRight {
  color: white;
  background-color: rgb(14, 14, 14);
  border-radius: 5px;
  padding: 2%;
}
.footerKda .footerKdaSub .textoCopyRight .miNombre {
  color: aqua;
}
.footerKda .footerKdaSub .footerKdaListaDeLinks {
  width: 100%;
}
.footerKda .footerKdaSub .footerKdaListaDeLinks .footerKdaLink {
  color: white;
  transition: 0.2s;
}
.footerKda .footerKdaSub .footerKdaListaDeLinks .footerKdaLink:hover {
  transform: scale(1.3);
  color: rgb(112, 0, 248);
}

/* MEDIAS QUERIES */
/* ----------------------------------------- */
/* INDEX*/
/* 0px - 769px */
@media (min-width: 0px) and (max-width: 769px) {
  /* INDEX*/
  .contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1 .imagenLogoKda1Index {
    opacity: 1;
    width: 50%;
  }
  .contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub1:hover .imagenFondoKda1Index {
    filter: blur(0px);
    transform: scale(1);
  }
  .contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2 .imagenLogoKda2Index {
    opacity: 1;
    width: 50%;
  }
  .contenedorMainIndex .contenedorMainIndexSub .contenedorMainIndexSub2:hover .imagenFondoKda2Index {
    filter: blur(0px);
    transform: scale(1);
  }
}
/* ----------------------------------------- */
/* K/DA POPSTARS*/
/* 0px - 480px */
@media (min-width: 0px) and (max-width: 480px) {
  .bodyKda2018 {
    /* --------- HEADER --------- */
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  VIDEOS RELACIONADOS  */
  }
  .bodyKda2018 .menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista {
    gap: 15px;
    margin-right: 10%;
  }
  .bodyKda2018 .navBarKda .navBarKdaSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKda2018 .navBarKda .navBarKdaSub .imagenLogoPrincipal {
    margin-left: 7%;
    width: 80%;
  }
  .bodyKda2018 .videoMusicalKda .iframeVideoMusicaKda {
    width: 80%;
    height: 200px;
    margin: 15% 0px;
  }
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 85%;
    border: 1px solid white;
  }
  .bodyKda2018 .quienesSonKda {
    width: 102%;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.2rem;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto2 {
    text-align: center;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteImagen {
    border-radius: 0px;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteImagen2 {
    margin-left: 0%;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
    width: 90%;
  }
  .bodyKda2018 .videosKda .videosKdaSub {
    width: 90%;
  }
}
/* 481px - 767px */
@media (min-width: 480px) and (max-width: 767px) {
  .bodyKda2018 {
    /* --------- HEADER --------- */
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  ALBÚN  */
    /*  VIDEOS RELACIONADOS  */
  }
  .bodyKda2018 .menuHeaderKda2018 .menuHeaderKda2018Sub .menuHeaderKda2018SubLista {
    gap: 30px;
    margin-right: 10%;
  }
  .bodyKda2018 .navBarKda .navBarKdaSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKda2018 .navBarKda .navBarKdaSub .imagenLogoPrincipal {
    margin-left: 23%;
    width: 50%;
  }
  .bodyKda2018 .videoMusicalKda .iframeVideoMusicaKda {
    width: 80%;
    height: 340px;
    margin: 15% 0px;
  }
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 75%;
    border: 1px solid white;
  }
  .bodyKda2018 .quienesSonKda {
    width: 102%;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto2 {
    text-align: center;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteImagen {
    border-radius: 0px;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteImagen2 {
    margin-left: 0%;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
    width: 90%;
  }
  .bodyKda2018 .albunKda .albunKdaSub .albunKdaContenedor .albunKdaContenedorDeImagen {
    width: 100%;
  }
  .bodyKda2018 .videosKda .videosKdaSub {
    width: 70%;
  }
}
/* 768px - 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
  .bodyKda2018 {
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  INTEGRANTES  */
  }
  .bodyKda2018 .navBarKda .navBarKdaSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKda2018 .navBarKda .navBarKdaSub .imagenLogoPrincipal {
    margin-left: 33%;
    width: 30%;
  }
  .bodyKda2018 .videoMusicalKda .iframeVideoMusicaKda {
    width: 75%;
    height: 500px;
  }
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 75%;
    border: 1px solid white;
  }
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion .descipcionDeIframe,
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion .descipcionDeIframe {
    font-size: 1.5rem;
  }
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion .letrasCancion,
  .bodyKda2018 .videoMusicalKda .contenedorConDescripcionDelVideo .contenedorDescripcion .letrasCancion {
    font-size: 1.5rem;
  }
  .bodyKda2018 .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionTexto {
    width: 90%;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionTexto .historiaKdaSeccionTextoContenido {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen {
    width: 90%;
  }
  .bodyKda2018 .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
    width: 100%;
  }
  .bodyKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorTexto .integrantesKdaCollapseSubContenedorDescripcion {
    font-size: 1.5rem;
  }
  .bodyKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorImagen {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .bodyKda2018 .integrantesKda .integrantesKdaCollapse .integrantesKdaCollapseSub .integrantesKdaCollapseSubContenedor .integrantesKdaCollapseSubContenedorImagen .integrantesKdaCollapseFoto {
    width: 100%;
    border: double 10px rgb(12, 0, 246);
  }
}
/* ----------------------------------------- */
/* K/DA ALL OUT*/
/* 0px - 480px */
@media (min-width: 0px) and (max-width: 480px) {
  .bodyKdaAllOut {
    /* --------- HEADER --------- */
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  VIDEOS RELACIONADOS  */
  }
  .bodyKdaAllOut .menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista {
    gap: 15px;
    margin-right: 10%;
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .imagenLogoPrincipal {
    margin-left: 7%;
    width: 80%;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .iframeVideoMusicaKdaAllOut {
    width: 80%;
    height: 200px;
    margin: 15% 0px;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 85%;
    border: 1px solid white;
  }
  .bodyKdaAllOut .quienesSonKda {
    width: 102%;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.2rem;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto2 {
    text-align: center;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteImagen {
    border-radius: 0px;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteImagen2 {
    margin-left: 0%;
  }
  .bodyKdaAllOut .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
    width: 90%;
  }
  .bodyKdaAllOut .videosKda .videosKdaSub {
    width: 90%;
  }
}
/* 481px - 767px */
@media (min-width: 480px) and (max-width: 767px) {
  .bodyKdaAllOut {
    /* --------- HEADER --------- */
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  HISTORIA  */
    /*  ALBÚN  */
    /*  VIDEOS RELACIONADOS  */
  }
  .bodyKdaAllOut .menuHeaderKdaAllOut .menuHeaderKdaAllOutSub .menuHeaderKdaAllOutSubLista {
    gap: 30px;
    margin-right: 10%;
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .imagenLogoPrincipal {
    margin-left: 23%;
    width: 50%;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .iframeVideoMusicaKdaAllOut {
    width: 80%;
    height: 340px;
    margin: 15% 0px;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 75%;
    border: 1px solid white;
  }
  .bodyKdaAllOut .quienesSonKda {
    width: 102%;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto2 {
    text-align: center;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteImagen {
    border-radius: 0px;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteImagen2 {
    margin-left: 0%;
  }
  .bodyKdaAllOut .historiaKda .historiaKdaSub .historiaKdaSeccionImagen .historiaKdaSeccionImagenCotenido {
    width: 90%;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub .historiaKdaAllOutSeccionImagen .historiaKdaAllOutSeccionImagenCotenido {
    width: 90%;
  }
  .bodyKdaAllOut .albunKdaAllOut .albunKdaAllOutSub .albunKdaAllOutContenedor .albunKdaAllOutContenedorDeImagen {
    width: 100%;
  }
  .bodyKdaAllOut .videosKda .videosKdaSub {
    width: 70%;
  }
}
/* 768px - 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
  .bodyKdaAllOut {
    /* --------- MAIN --------- */
    /*  BARRA NAV  */
    /*  POP STARS  */
    /*  ¿QUIENES SON?  */
    /*  HISTORIA  */
    /*  INTEGRANTES  */
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKdaAllOut .navBarKdaAllOut .navBarKdaAllOutSub .imagenLogoPrincipal {
    margin-left: 33%;
    width: 30%;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .iframeVideoMusicaKdaAllOut {
    width: 75%;
    height: 500px;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion,
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorDescripcion {
    width: 75%;
    border: 1px solid white;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion .descipcionDeIframe,
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorDescripcion .descipcionDeIframe {
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorConLetraDeCancion .letrasCancion,
  .bodyKdaAllOut .videoMusicalKdaAllOut .contenedorConDescripcionDelVideo .contenedorDescripcion .letrasCancion {
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .quienesSonKda .quienesSonKdaParteTextual .quienesSonKdaTexto {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub .historiaKdaAllOutSeccionTexto {
    width: 90%;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub .historiaKdaAllOutSeccionTexto .historiaKdaAllOutSeccionTextoContenido {
    text-align: center;
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub .historiaKdaAllOutSeccionImagen {
    width: 90%;
  }
  .bodyKdaAllOut .historiaKdaAllOut .historiaKdaAllOutSub .historiaKdaAllOutSeccionImagen .historiaKdaAllOutSeccionImagenCotenido {
    width: 100%;
  }
  .bodyKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorTexto .integrantesKdaAllOutCollapseSubContenedorDescripcion {
    font-size: 1.5rem;
  }
  .bodyKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorImagen {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .bodyKdaAllOut .integrantesKdaAllOut .integrantesKdaAllOutCollapse .integrantesKdaAllOutCollapseSub .integrantesKdaAllOutCollapseSubContenedor .integrantesKdaAllOutCollapseSubContenedorImagen .integrantesKdaAllOutCollapseFoto {
    width: 100%;
    border: double 10px rgb(12, 0, 246);
  }
}

/*# sourceMappingURL=estilo.css.map */
