.bodyKda2018{
    background-image: url(../img/kda-2018/fondo-main-kda-2018.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Caveat', sans-serif;
}

.bodyKdaAllOut{
    background-image: url(../img/kda-2020/fondo-main-kda-allout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Arvo', serif;
}