.menuHeaderKda2018 {
    background-color: rgb(16, 16, 16);

    .menuHeaderKda2018Sub {
        .menuHeaderKda2018SubLista {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 400px;

            .botonRiotGamesHeader {
                background: none;
                border: 1px solid rgb(254, 37, 62);
                border-radius: 10px;

                color: rgb(254, 37, 62);
                font-family: 'Open Sans', sans-serif;
                font-size: 1.0rem;
                padding: 5% 40%;

                white-space: nowrap;
                letter-spacing: 5px;
                transition: 0.5s;

                &:hover{
                    transform: scale(1.2);
                    background:linear-gradient(20deg, rgb(251, 0, 29), rgb(255, 43, 68));
                    border: 1px solid white;
                    color: white;
                }
            }

            .botonEscuchaKdaHeader {
                background: none;
                border: 1px solid rgb(131, 0, 192);
                border-radius: 10px;

                color: rgb(131, 0, 192);
                font-family: 'Open Sans', sans-serif;
                font-size: 1.0rem;
                padding: 5% 60%;
                white-space: nowrap;

                white-space: nowrap;
                letter-spacing: 5px;
                transition: 0.5s;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    background:linear-gradient(20deg, rgb(131, 0, 192), rgb(201, 86, 255));
                    border: 1px solid white;
                    color: white;
                }
                
                .tituloBotonEscuchaKdaHeader {
                    border-top: 25%;
                    height: 10px;
                }

                .listaBotonEscuchaKdaHeader {
                    .listaSubBotonEscuchaKdaHeader {
                        .logoBotonEscuchaKdaHeader {
                            transition: 0.3s;

                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }

            .botonSigueKdaHeader {
                background: none;
                border: 1px solid rgb(131, 0, 192);
                border-radius: 10px;

                color: rgb(131, 0, 192);
                font-family: 'Open Sans', sans-serif;
                font-size: 1.0rem;
                padding: 5% 60%;
                white-space: nowrap;

                white-space: nowrap;
                letter-spacing: 7px;
                transition: 0.5s;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &:hover{
                    transform: scale(1.1);
                    background:linear-gradient(20deg, rgb(131, 0, 192), rgb(201, 86, 255));
                    border: 1px solid white;
                    color: white;
                }

                .tituloBotonSigueKdaHeader {
                    border-top: 25%;
                    height: 10px;
                }

                .listaBotonSigueKdaHeader {
                    .listaSubBotonSigueKdaHeader {
                        .logoBotonSigueKdaHeader {
                            transition: 0.3s;

                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}