/* MEDIAS QUERIES */
/* ----------------------------------------- */
/* INDEX*/
/* 0px - 769px */
@media(min-width: 0px) and (max-width: 769px) {

    /* INDEX*/
    .contenedorMainIndex {
        .contenedorMainIndexSub {
            .contenedorMainIndexSub1 {
                .imagenLogoKda1Index {
                    opacity: 1;
                    width: 50%;
                }

                &:hover {
                    .imagenFondoKda1Index {
                        filter: blur(0px);
                        transform: scale(1.0);
                    }
                }
            }



            .contenedorMainIndexSub2 {
                .imagenLogoKda2Index {
                    opacity: 1;
                    width: 50%;
                }

                &:hover {
                    .imagenFondoKda2Index {
                        filter: blur(0px);
                        transform: scale(1.0);
                    }
                }
            }
        }
    }
}

/* ----------------------------------------- */
/* K/DA POPSTARS*/

/* 0px - 480px */
@media(min-width: 0px) and (max-width: 480px) {
    .bodyKda2018 {

        /* --------- HEADER --------- */
        .menuHeaderKda2018 {
            .menuHeaderKda2018Sub {
                .menuHeaderKda2018SubLista {
                    gap: 15px;
                    margin-right: 10%;
                }
            }
        }

        /* --------- MAIN --------- */
        /*  BARRA NAV  */
        .navBarKda {
            .navBarKdaSub {
                display: flex;
                align-items: center;
                justify-content: center;

                .imagenLogoPrincipal {
                    margin-left: 7%;
                    width: 80%;
                }
            }
        }


        /*  POP STARS  */
        .videoMusicalKda {
            .iframeVideoMusicaKda {
                width: 80%;
                height: 200px;

                margin: 15% 0px;
            }

            .contenedorConDescripcionDelVideo {

                .contenedorConLetraDeCancion,
                .contenedorDescripcion {
                    width: 85%;
                    border: 1px solid white;
                }

            }
        }

        /*  ¿QUIENES SON?  */
        .quienesSonKda {
            width: 102%;

            .quienesSonKdaParteTextual {
                width: 100%;
                margin: 0px;
                border-radius: 0px;

                .quienesSonKdaTexto {
                    text-align: center;
                    font-size: 1.2rem;
                }

                .quienesSonKdaTexto2 {
                    text-align: center;
                }
            }

            .quienesSonKdaParteImagen {
                border-radius: 0px;
            }

            .quienesSonKdaParteImagen2 {
                margin-left: 0%;
            }
        }

        /*  HISTORIA  */
        .historiaKda {
            .historiaKdaSub {
                .historiaKdaSeccionImagen {
                    .historiaKdaSeccionImagenCotenido {
                        width: 90%;
                    }
                }
            }
        }

        /*  VIDEOS RELACIONADOS  */
        .videosKda {
            .videosKdaSub {
                width: 90%;
            }
        }
    }

}

/* 481px - 767px */
@media(min-width: 480px) and (max-width: 767px) {
    .bodyKda2018 {

        /* --------- HEADER --------- */
        .menuHeaderKda2018 {
            .menuHeaderKda2018Sub {
                .menuHeaderKda2018SubLista {
                    gap: 30px;
                    margin-right: 10%;
                }
            }
        }

        /* --------- MAIN --------- */
        /*  BARRA NAV  */
        .navBarKda {
            .navBarKdaSub {
                display: flex;
                align-items: center;
                justify-content: center;

                .imagenLogoPrincipal {
                    margin-left: 23%;
                    width: 50%;
                }
            }
        }


        /*  POP STARS  */
        .videoMusicalKda {
            .iframeVideoMusicaKda {
                width: 80%;
                height: 340px;

                margin: 15% 0px;
            }

            .contenedorConDescripcionDelVideo {

                .contenedorConLetraDeCancion,
                .contenedorDescripcion {
                    width: 75%;
                    border: 1px solid white;
                }

            }
        }

        /*  ¿QUIENES SON?  */
        .quienesSonKda {
            width: 102%;

            .quienesSonKdaParteTextual {
                width: 100%;
                margin: 0px;
                border-radius: 0px;

                .quienesSonKdaTexto {
                    text-align: center;
                    font-size: 1.5rem;
                }

                .quienesSonKdaTexto2 {
                    text-align: center;
                }
            }

            .quienesSonKdaParteImagen {
                border-radius: 0px;
            }

            .quienesSonKdaParteImagen2 {
                margin-left: 0%;
            }
        }

        /*  HISTORIA  */
        .historiaKda {
            .historiaKdaSub {
                .historiaKdaSeccionImagen {
                    .historiaKdaSeccionImagenCotenido {
                        width: 90%;
                    }
                }
            }
        }

        /*  ALBÚN  */
        .albunKda {
            .albunKdaSub {
                .albunKdaContenedor {
                    .albunKdaContenedorDeImagen {
                        width: 100%;
                    }
                }
            }
        }

        /*  VIDEOS RELACIONADOS  */
        .videosKda {
            .videosKdaSub {
                width: 70%;
            }
        }
    }
}

/* 768px - 1279px */
@media(min-width: 768px) and (max-width: 1279px) {
    .bodyKda2018 {

        /* --------- MAIN --------- */
        /*  BARRA NAV  */
        .navBarKda {
            .navBarKdaSub {
                display: flex;
                align-items: center;
                justify-content: center;

                .imagenLogoPrincipal {
                    margin-left: 33%;
                    width: 30%;
                }
            }
        }


        /*  POP STARS  */
        .videoMusicalKda {
            .iframeVideoMusicaKda {
                width: 75%;
                height: 500px;
            }

            .contenedorConDescripcionDelVideo {

                .contenedorConLetraDeCancion,
                .contenedorDescripcion {
                    width: 75%;
                    border: 1px solid white;

                    .descipcionDeIframe {
                        font-size: 1.5rem;
                    }

                    .letrasCancion {
                        font-size: 1.5rem;
                    }
                }

            }
        }

        /*  ¿QUIENES SON?  */
        .quienesSonKda {
            .quienesSonKdaParteTextual {
                .quienesSonKdaTexto {
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
        }

        /*  HISTORIA  */
        .historiaKda {
            .historiaKdaSub {
                display: flex;
                align-items: center;
                justify-content: center;

                .historiaKdaSeccionTexto {
                    width: 90%;

                    .historiaKdaSeccionTextoContenido {                   
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }

                .historiaKdaSeccionImagen {
                    width: 90%;

                    .historiaKdaSeccionImagenCotenido {
                        width: 100%;
                    }
                }
            }
        }

        /*  INTEGRANTES  */
        .integrantesKda{
            .integrantesKdaCollapse {
                .integrantesKdaCollapseSub {
    
                    .integrantesKdaCollapseSubContenedor {
                        .integrantesKdaCollapseSubContenedorTexto {
                            .integrantesKdaCollapseSubContenedorDescripcion {
                                font-size: 1.5rem;
                            }
                        }
                        .integrantesKdaCollapseSubContenedorImagen {
                            display: flex;
                            align-items: start;
                            justify-content: center;
    
                            .integrantesKdaCollapseFoto {
                                width: 100%;
                                border: double 10px rgb(12, 0, 246);
                            }
                        }
                    }
                }
            }
        }
    }
}