.mainKda2018 {

    /* BARRA NAV */
    .navBarKda {
        background-color: rgb(11, 11, 11);
        width: 100%;
        top: 0;
        position: sticky;
        z-index: 10;

        border-top: 1px solid white;

        .navBarKdaSub {
            .imagenLogoPrincipal {
                width: 20%;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .botonQueAbreNavBarKda {
                margin-right: 3%;
                border: 1px solid rgb(131, 0, 192);
                background-color: rgb(16, 16, 16);
                transition: 0.3s;

                &:hover {
                    transform: scale(0.9);
                    border: 1px solid rgb(1, 242, 255);
                    background-color: rgb(0, 0, 0);
                }

            }

            .menuNavQueSeAbreKda {
                background-color: rgb(15, 15, 15);
                display: flex;
                align-items: center;
                justify-content: center;


                .logoMenuNavQueSeAbreKda {
                    .imagenLogoKda {
                        width: 70%;
                    }

                    .botonQueCierraMenuNavKda {
                        margin-right: 10%;

                        border: 1px solid rgb(158, 4, 230);
                        background-color: rgb(16, 16, 16);
                        transition: 0.3s;

                        &:hover {
                            border: 1px solid rgb(1, 242, 255);
                            background-color: white;
                        }
                    }
                }

                .listaNavQueSeAbreKda {
                    .listaNavQueSeAbreKdaSub {
                        hr {
                            border-color: rgb(158, 4, 230);
                        }

                        .navBotonListaQueSeAbreKdaSub {
                            a {
                                text-align: center;
                                color: rgb(212, 212, 212);
                                font-size: 1.0rem;
                                transition: 0.4s;

                                &:hover {
                                    transform: scale(1.2);
                                    color: rgb(110, 171, 207);
                                }
                            }
                        }
                    }
                }

                .fraseBarNav {
                    color: rgb(154, 255, 253);
                    text-shadow: 3px 3px black;
                    font-size: 1.5rem;

                }
            }
        }
    }

    /* H2 */
    h2 {
        margin-top: 5%;
        margin-bottom: 0%;

        color: rgb(53, 235, 238);
        font-size: 4.0rem;
        text-align: center;

        background-color: rgba(0, 0, 0, 0.722);
        transition: 0.3s;

        &:hover {
            color: white;
        }
    }

    /* POPSTARS */
    .videoMusicalKda {
        background-color: rgba(0, 0, 0, 0.794);

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        .iframeVideoMusicaKda {
            width: 50%;
            height: 400px;

            margin: 5%;
            border: 1px solid rgb(89, 0, 255);
            border-radius: 5px;
            transition: 0.4s;

            &:hover {
                border: 1px solid white;
            }

        }


        .contenedorConDescripcionDelVideo {
            display: flex;
            align-items: start;
            justify-content: center;

            margin-bottom: 5%;

            .contenedorConLetraDeCancion {
                height: 400px;
                background-color: rgba(0, 0, 0, 0.65);
                border-radius: 10px;
                overflow: auto;

                .letrasCancion {
                    color: white;
                    font-size: 1.0rem;
                    text-align: center;

                    margin: 5%;
                }
            }

            .contenedorDescripcion {
                height: 400px;
                background-color: rgba(0, 0, 0, 0.65);
                border-radius: 10px;
                overflow: auto;


                .descipcionDeIframe {
                    color: white;
                    font-size: 1.0rem;
                    text-align: center;

                    margin: 5%;

                }
            }

        }
    }


    /* ¿QUIÉNES SON? */
    .quienesSonKda {
        width: 100%;

        .quienesSonKdaParteTextual {
            width: 50%;
            background-color: rgba(0, 0, 0, 0.794);
            border-radius: 20px;
            margin: 0% 0% 4% 5%;


            .quienesSonKdaTexto {
                color: white;
                text-shadow: 3px 3px black;

                margin: 5%;
                font-size: 1.7rem;
            }

            .quienesSonKdaTexto2 {
                text-align: end;
            }
        }

        .quienesSonKdaParteImagen {
            background-color: rgba(0, 0, 0, 0.794);
            border-radius: 20px;
            margin-top: 4%;
            margin: 0% 0% 4% 0%;

            display: flex;
            align-items: center;
            justify-content: center;

            .quienesSonKdaImagen {
                width: 90%;

                border: double rgb(5, 5, 5) 5px;
            }
        }

        .quienesSonKdaParteImagen2 {
            margin-left: 5%;
        }
    }

    /* HISTORIA */
    .historiaKda {
        background-color: black;

        .historiaKdaSub {
            gap: 7%;

            .historiaKdaSeccionTexto {
                .historiaKdaSeccionTextoTitulo {
                    color: white;
                }

                .historiaKdaSeccionTextoContenido {
                    color: white;
                }
            }

            .historiaKdaSeccionImagen {
                display: flex;
                align-items: center;
                justify-content: center;

                .historiaKdaSeccionImagenCotenido {
                    width: 120%;
                }
            }
        }
    }

    /* INTEGRANTES */
    .integrantesKda {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.794);

        .integrantesKdaBotones {
            .integrantesKdaBotonesButton {
                background-color: black;
                border: 1px solid rgb(255, 47, 200);
                transition: 0.5s;

                &:hover {
                    transform: scale(1.2);
                    border: 1px solid rgb(0, 255, 242);
                    background-color: rgb(255, 255, 255);
                    color: black;
                }

            }
        }

        .integrantesKdaCollapse {
            .integrantesKdaCollapseSub {
                background-color: rgba(0, 0, 0, 0);

                .integrantesKdaCollapseSubContenedor {
                    .integrantesKdaCollapseSubContenedorTexto {
                        .integrantesKdaCollapseSubContenedorNombre {
                            color: rgb(255, 47, 200);
                            text-shadow: 2px 2px black;
                            font-size: 3.0rem;
                        }

                        .integrantesKdaCollapseSubContenedorDescripcion {
                            color: white;
                            text-shadow: 2px 2px black;
                            font-size: 1.5rem;
                        }
                    }

                    .integrantesKdaCollapseSubContenedorImagen {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .integrantesKdaCollapseFoto {
                            width: 70%;
                            border: double 10px rgb(12, 0, 246);
                        }
                    }
                }
            }
        }
    }

    /* ALBÚN */
    .albunKda {
        background-color: black;

        .albunKdaSub {
            .albunKdaContenedor {
                .albunKdaContenedorDeImagen {
                    .albunKdaContenedorDeImagen2 {
                        .albunKdaImagen {}
                    }
                }
            }
        }
    }

    /* VIDEOS RELACIONADOS */
    .videosKda {
        background-color: rgba(0, 0, 0, 0.794);
        margin-bottom: 10%;

        display: flex;
        align-items: center;
        justify-content: center;

        .videosKdaSub {
            border: 1px solid white;
            margin: 5%;
            transition: 0.4s;

            &:hover {
                border: 1px solid rgb(0, 242, 255);
            }

            .carruselContenedor {
                .carruselContenedorMostrado {
                    .carruselContenedorMostradoIframe {}
                }
            }

            .carruselBoton {
                background-color: rgb(0, 0, 0);
                transition: 0.4s;
                height: 25%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}

.mainKdaAllOut {

    /* BARRA NAV */
    .navBarKdaAllOut {
        .navBarKdaAllOutSub {
            .imagenLogoPrincipalAllOut {
                width: 50%;
                transition: 0.3s;
                margin: 4% 0px 3% 4%;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .botonQueAbreNavBarKdaAllOut {
                border: 1px solid rgb(1, 242, 255);

                &:hover {
                    transform: scale(0.9);
                    border: 1px solid rgb(255, 255, 255);
                }

            }

            .menuNavQueSeAbreKdaAllOut {
                .logoMenuNavQueSeAbreKdaAllOut {
                    .botonQueCierraMenuNavKdaAllOut {
                        border: 1px solid rgb(1, 242, 255);
                        background-color: white;

                        &:hover {
                            border: 1px solid white;
                            background-color: black;
                        }
                    }
                }

                .listaNavQueSeAbreKdaAllOut {
                    .listaNavQueSeAbreKdaSubAllOut {
                        hr {
                            border-color: rgb(1, 242, 255);
                        }

                        .navBotonListaQueSeAbreKdaSubAllOut {
                            a {
                                &:hover {
                                    transform: scale(1.2);
                                    color: rgb(155, 0, 251);
                                }
                            }
                        }
                    }
                }

                .fraseBarNavAllOut {
                    color: rgb(154, 255, 253);
                    text-shadow: 3px 3px black;
                    font-size: 1.0rem;

                    text-align: center;

                }
            }
        }
    }

    /* INTEGRANTES */
    .integrantesKdaAllOut {
        .integrantesKdaAllOutBotones {
            .integrantesKdaAllOutBotonesButton {
                margin-top: 3%;
                background-color: white;
                border: 1px solid rgb(47, 255, 248);
                color: black;

                &:hover {
                    border: 1px solid rgb(4, 0, 255);
                    background-color: rgb(0, 0, 0);
                    color: white;
                }

            }
        }

        .integrantesKdaAllOutCollapse {
            .integrantesKdaAllOutCollapseSub {
                background-color: rgba(0, 0, 0, 0);

                .integrantesKdaAllOutCollapseSubContenedor {
                    .integrantesKdaAllOutCollapseSubContenedorTexto {
                        .integrantesKdaAllOutCollapseSubContenedorNombre {
                            color: rgb(47, 255, 248);
                        }

                        .integrantesKdaAllOutCollapseVideoMusical{
                            border: 5px double white;
                            width: 80%;
                        }
                    }

                    .integrantesKdaAllOutCollapseSubContenedorImagen {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap:20px;

                        .integrantesKdaAllOutCollapseFoto {
                            border: double 10px white;
                        }                       
                    }
                }
            }
        }
    }

}