* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Caveat', sans-serif;

    font-family: 'Arvo', serif;
}

html {
    scroll-behavior: smooth;
}

/* IMPORTS */
@import "index.scss","body.scss","header.scss","main.scss","footer.scss";
@import "m-q.scss";
 

